.App {
 /* font-family: 'Lora', serif;*/
  font-family: 'Roboto', sans-serif;

  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
ul li{
  color: white;
}
 .active{
  color:white;
  text-decoration: underline;
  font-weight: 700;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar ul{
  display: flex;

}
 ul li{
text-decoration: none;
list-style: none;
margin-left: 15px;

  
}
form{
  margin-left: 30px;
  margin-right:30px;
  display: flex;
  padding: 6px;
  justify-content: center;
  flex-direction: column;
  background:rgb(237, 247, 250)
}
.author{
  font-size: 13px;
  color: #454648;
}
.content-managment{
  width:50vw;
  height:60px;
  display: flex;
  background:rgb(237, 247, 250);
  justify-content: space-between;
  margin: auto;
  margin-bottom: 10px;
  padding-top: 8px;
}
.content-title{
  width: 50%;
  min-height: 100%;
}
.content-btns{
  width: 30%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
}

.content-btns button{
  height: 40px;
}
.blog-list{
  margin-top: 20px;
}
.modal-btns{
  display: flex;
  justify-content: space-between;
}
.modal-cancel{
  float: right;
  margin-bottom: 20px;
}
.zoom{
  display: flex;
  flex-direction: column;
}
.text-muted{
  font-size: 1rem;
}
.deletion{
  background:rgb(237, 247, 250);
  margin:auto;
  margin-top: 70px;
  width: 50vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.delbtns{
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 4px;
}
nav{
  display: flex;
}
nav ul{
  display: flex;
}
.navbar{
  margin-bottom: 6px;
  opacity: 0.7;
}
.navbar-brand{
 color: white;
}
.home-blog{
  padding-top: 70px;
  min-height: 100vh;
}
.news :hover{
background:rgb(247, 246, 245);

}
.highlights{
  height: 94vh;
  width: 28vw;
  background: rgb(243, 241, 241);
 
}
.content{
  display: flex;
}
.news{
  padding-right: 20px;
  padding-left: 30px;
  width: 70vw;
}
.footer{
  display: flex;
  justify-content: space-between;
  height: 30px;
  position: sticky;
  top:100%;
}
.footer-notes {
  text-decoration: underline;
  color:white;
}
.contact-page{
  margin: 0px;
  padding:0px;
  min-height: 100vh;
}
.contact-forms{
  width: 100%;
  height: auto;
  padding: 80px;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.socials-form{
  display: flex;
  width: 100%;
  justify-content:center;
  height: auto;
  padding-top: 60px;
  padding-bottom: 20px;
  margin: 0px;
}
.m-foot{
  position: sticky;
  top:100%;
}
.message{
  width: 50vw;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.contact-intro{
 
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.cont-heading{
  margin-bottom: 30px;
}
.cont{
  width: 97vw;
  padding: 0px;
}
.mayne-footer{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 12.5px;
}
.foot-cont{
  margin: 0px;
  background: blue;
}
.btn{
  margin-top: 10px;
}
.icon{
  font-size:1.5em;
  color:orange;
}

.socials{
  margin: 0px;
  display: flex;
  justify-content: center;
}
.socials ul{
  display: flex;
  justify-content: space-around;
  color: orange;
  margin-bottom: 0px;
}

.socials ul li{
  margin-left: 20px;
  font-size: 13px;
}
.pagination{
  display: flex;
  margin: auto;
  justify-content: space-around;
}
.pag{
  height: 35px;
  margin-bottom: 15px;
}
.mess-form{
  width: 50vw;
}
.main-footer{
  margin: 0px;
  padding: 0px;;
}
.footer{
  font-size: 12px;
  padding-top: 9px;
}
li a {
  color: white;
}


@media(max-width:840px){
  .subscription-form label {
    font-size:14px;
    font-weight: 500;
  }
  .subscription-form h4{
    font-size:18px;
    font-weight: 500;
  }
  .subscription-form p{
    font-size: 14px;
  }
  #mess label {
    font-size:14px;
    font-weight: 500;
  }
  #mess h4{
    font-size:18px;
    font-weight: 500;
  }


}
@media(max-width: 620px){
  i{
    font-size: 10px;
  }
  .blog-txt{
    font-size: 14px;
  }
  h3{
    font-size:13px ;
  }
  .daily-nav{
    text-align: center;
  }

 
  .navbar li{
    font-size: 14px;
  }
  .navbar-brand Link{
    font-size: 13px
  }
  form p{
    font-size: 14px;
  }
  form h4{
    font-size: 15px;
  }
  /*.contact-page label{
    font-size: 14px;
  }*/
  .contact-forms{
    height: auto;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
    flex-direction: column;
   
  }
  #footer-log{
    font-size: 15px;
  }
  .socials  ul li{
    font-size: 12px;
   }
  #mess{
    margin-top: 20px;
    width: 70vw;
    margin-left: -50px;
  }
  .news-letter{
    width: 70vw;
    margin: 0px;
  }
  form input{
    font-size: 11px;
    height: 30px;
  }
  .mayne-footer{
    flex-wrap: wrap;
  }
  .mayne-footer h5{
   font-size: 15px;
  }
  .mayne-footer ul li{
    font-size: 12px;
   }
   nav{
    display: block;
   }

}
@media(max-width: 320px){
.blog-txt{
  font-size: 11px;
}
.highlights{
  display:none;
}
.news{
  width: 97vw;
}
.footer p{
  font-size: 9px;
}
#footer-cont{
  font-size: 9px;
}
#mess{
  margin-top: 20px;
  width: 80vw;
  margin-left: -50px;
}
#mess label{
  font-size: 12px;
}
#mess h4{
  font-size: 13px;
  font-weight: 530;
}
.news-letter p{
  font-size: 11px;
}
.news-letter h4{
  font-size: 13px;
}
.subscription-form label{
  font-size: 12px;
}
form input{
  font-size: 11px;
  height: 25px;
}
.mayne-footer{
  padding-left: 10px;
}
.mayne-footer h5{
  font-size: 14px;
 }
 .mayne-footer ul li{
  font-size: 10px;
 }
 .socials  ul li{
  font-size: 10px;
 }
}